#Main_container{
    width: 90%;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 99%;
      background-color: #333;
      padding: 1em;
      display: flex;
      position: sticky;
      top: 00;
      z-index: 1;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    
    .logo {
      margin-right: 20px;
    }
    
    .logo img {
      width: 100px;
      height: 60px;
      border-radius: 10px;
  
    }
    
    .title {
      font-size: 24px;
      color: #fff;
      margin-right: 30px;
      /* border: 2px solid red; */
    }
    
    .navbar ul {
      /* border: 2px solid red; */
      width: 35%;
      list-style: none;
      margin: 0;
      margin-left: 20%;
      padding: 0;
      display: flex;
    }
    
    .navbar li {
      margin-right: 20px;
      /* border: 2px solid green; */
      margin: auto;
  
    }
    #user{
      background-color: #c8dcc8;
    }
    .navbar a {
      color: #fff;
      font-size: 22px;
      text-decoration: none;
  
    }
    
    .navbar a:hover {
      color: #ccc;
    }
    .title{
      display: flex;
     
  
    }
    #nav_ul a{
      border-bottom: #2ad92d;
     
    
    }
    .span_div{
      display: none;
    }
    .title button{
      width: 100px;
      height: 30px;
    margin-top: 10px;
      border-radius: 10px;
      margin-left: 20px;
      background-color: hsla(21, 95%, 47%, 0.751);
     
    }
  
    #hero_section{
      width: 99%;
      padding: 10px;
   
      margin: auto;
      
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  #hero_section img{
      width: 100%;
     height: 600px;
  
  }
  

 
    .hero_1div{
      width: 40%;
      margin-left: 7%;
      margin-top: 10%;
      /* align-items: center; */
    }
    .hero_section button{
      width: 120px;
      height: 25px;
      background-color: greenyellow;
      border-radius: 10px;
      
    }
    .hero_img_div{
      /* border: 2px solid; */
      width: 45%;
      padding: 10px;
      overflow: hidden;
    }
    .hero_img_div img{
      width: 100%;
      height: 500px;
  transition: ease-in-out 5s;
  
    }
    .hero_img_div img:hover{
      transform: scale(1.1);
      cursor: pointer;
      } 
      
      .Product_api_div{
        border: 2px solid green;
      }
      h1{
        text-align: center;
     
        padding: 20px;
    
        line-height: 5px; 
    }

    #fixed_logopart{
    
        display: flex;
      justify-content: space-between;
      
        
    }
    #fixed_logo{
       position: fixed;
       bottom: 05%;
       right: 120px;
       gap: 20px;
        display: grid;  justify-content: space-around;
      margin-left: 84%;
      
        
    }
    #fixed_logopart img{
        width: 60px;
        height: 40px;
    }
    .our_product{
        width: 99%; 
        margin: auto;
        margin-top: 10px;
        
    }
    #containerApi {
     
        width: 99%;
       
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:10px;
    }
 #all_api_cont{

        padding: 10px;
        border: 1px solid #ddd;
        text-align: center;
   border-radius: 30px 15px 35px 10px;
margin-top: 20px;
margin: 10px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        transition: 0.6s ease-in-out;
    }

    img{
        width: 50%;
        height: 22vh;
        border-radius: 10px;
        transition: ease-in-out 3s;
    }
  
    #containerApi div:hover{
        background-color: rgba(225, 240, 202, 0.742);
        transform: scale(1.025);
        cursor: pointer;
      
    }
    #Ad_de_btn {
 
  
        margin: auto;

      
    }
    #add_card_btn{
        background-color: rgb(150, 204, 70);
        width: 120px ;
        margin: 20px;
        height: 30px;
        border-radius: 5px;
        padding: 5px;
        transition: ease-in-out 3s;
    }
    #delet_btn{
        background-color: rgba(237, 13, 17, 0.859);
        width: 120px ;
        font-weight: bold;
        height: 30px;
        border-radius: 5px;
        padding: 5px;
        transition: ease-in-out 3s;
    }
    #delet_btn:hover{
        cursor: pointer;
        background-color: rgba(16, 15, 15, 0.761);
        color: white;
    }
    #add_card_btn:hover{
        cursor: pointer;
        background-color: rgba(16, 15, 15, 0.761);
        color: white;
    }
      .contat_us{
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-around;
      }
      #contat_us_img{
        width: 50%;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      #contat_us_img img{
        width: 100%;
        height: 480px;
      }
    
    #form_div{
      width: 45%;
      margin: auto;
      height: 480px;
      margin-top: 10px;
   border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
     
      background-image: url(https://img.freepik.com/free-vector/colorful-triangle-shapes-banner-technical-wire-mesh-style-vector_1017-45720.jpg?ga=GA1.1.109605606.1702533388&semt=ais_user);
      background-size: cover;
  }
  form{
     
      width: 90%;
      margin:10% auto;

      border: 0.1px solid rgb(181, 181, 246);
      /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
      margin-bottom: 30px;
   
  }
  #button{
    display: flex;
    justify-content: space-around;
  }
  #button button{
    width: 100px;
    background-color: #333;
    color: white;
    height: 30px;
    border-radius: 10px;
    transition: ease-in-out 3s;
  
  }
  #button button:hover{
   cursor: pointer;
   
    background-color: wheat;
    color: black;
    height: 30px;
    border-radius: 10px;
  
  }
  .form_h1{
    text-align: center;
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
  input,select{
    width: 95%;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    
  
  }
  select{
  width: 95%;
  border-radius: 5px;
  font-weight: bold;
  
  }
  ::placeholder,option{
   font-weight: bold;
  }
  label{
  margin-top: 20px;
  height: 25px;
  margin-left: 20px;
  }

  
      footer {
width: 99%;
        background-color: rgb(62, 59, 59);
        color: #f5ececf3;
        padding: 20px 0;
      }
      
      footer .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }
      
      footer .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
     #footer_form{
      border: none;
     }
      #footer_input{
        margin: 00;
      }
      footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      footer li {
        margin-bottom: 10px;
      }
      
      footer a {
        color: #fff;
        text-decoration: none;
      }
      
      footer a:hover {
        color: #ccc;
      }
     
      footer form {
        margin-top: 20px;
        
      }
      
     
      footer button[type="submit"] {
        background-color: #2ad92d;
        color: #fff;
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: ease-in-out 3s;
      }
      
     
      footer p {
        margin-bottom: 10px;
      }
      
      footer .copyright {
        font-size: 14px;
        color: #666;
      }
   
     
      .the_footer form{
       
       
        margin-right: 30%;
        text-align: start;
      }
      @media screen and (min-width: 200px) and (max-width: 757px){
  
  
    
        #Main_container{
            width: 90%;
            margin: auto;
        }
        
    
        
      
    
        
        .navbar {
            /* border: 2px solid red; */
          width: 99%;
          margin: auto;
            background-color: #43430a;
            padding: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
           
          }
          
          .logo {
            /* margin-right: 20px; */
          }
          
          .logo img {
            width: 100px;
            height: 60px;
            border-radius: 10px;
        
          }
          
          .title {
            font-size: 24px;
            color: #fff;
            margin-right: 20px;
            /* border: 2px solid red; */
          }
          
          .navbar ul {
    display: none;
          }
          
     
          
         
       
          .title{
            width: auto;
            display: flex;
            margin-left: 10px;
            margin-top: 10px;
            /* border: 2px solid red; */
          }
          .span_div{
            /* border: 2px solid red; */
            display: block;
           font-size: 30px;
  
          margin-top: 40px;
          }
          .title button{
     
            width: 100px;
            height: 40px;
        
            border-radius: 10px;
            margin-right: 10px;
        
           
          }
    
  
      
        .title button{
         
         display: none;
        }
        #hero_section{
          width:100%;
  
        overflow: hidden;
          margin: auto;
          
        margin-bottom: 40px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      }
      #hero_section img{
          width: 100%;
         height: 230px;
      
      }
 
      
          
       
      
       
          .hero_1div{
            width: 95%;
            margin-left: 10px;
            margin-top: 10%;
            /* align-items: center; */
          }
        
        

          #fixed_logo{
            position: fixed;
            bottom: 05%;
            right: 20px;
            gap: 20px;
             display: grid;  justify-content: space-around;
           margin-left: 84%;
           
             
         }
         input,select{
          width: 99%;
          margin-left: 00px;
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 5px;
          font-weight: bold;
        
        }
        input{
          margin: 00px;
       
        }
         #add_card_btn{
          background-color: rgb(150, 204, 70);
          width: 120px ;
          margin: 00px;
          height: 30px;
          border-radius: 5px;
          padding: 5px;
          transition: ease-in-out 3s;
      }
        #containerApi {
     
          width: 90%;
         padding: 0;
         margin: 0;
      margin: auto;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
       
      }

  
      #all_api_cont{
     
   
      /* border: 2px solid red; */
          /* overflow: hidden; */
       
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 
          0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          transition: 0.6s ease-in-out;
      }
 
    #Ad_de_btn{
      display: flex;
      justify-content: space-around;

  


      
   
  
  }

#delet_btn{
margin: 00;
}
  
      img{
          width: 70%;
          height: 22vh;
          border-radius: 10px;
          transition: ease-in-out 3s;
      }
    
      #containerApi div:hover{
          background-color: rgba(225, 240, 202, 0.742);
          transform: scale(1.025);
          cursor: pointer;
        
      }
      
          
         
          .contat_us{
           width: 99%;
           margin: auto;
            display: block;
            
           
          }
          #contat_us_img{
            width: 100%;
          }
          #contat_us_img img{
            width: 100%;
            height: 300px;
          }
          
        #form_div{
          width: 99%;
          margin: auto;
          height: 380px;
          margin-top: 10px;
       margin-bottom: 20px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
         
          background-image: url(https://img.freepik.com/free-vector/colorful-triangle-shapes-banner-technical-wire-mesh-style-vector_1017-45720.jpg?ga=GA1.1.109605606.1702533388&semt=ais_user);
          background-size: cover;
      }
    #form{
        width: 100%;
        height: 230px;
    }
    }
  
      
  
      @media screen and (min-width: 758px) and (max-width: 1024px){
    
        .navbar {
          width: 99%;
            background-color: #31322b;
            padding: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
          }
          
          .logo {
            margin-right: 20px;
          }
          
          .logo img {
            width: 100px;
            height: 90px;
            border-radius: 10px;
        
          }
          
          .title {
            width: 30%;
         
            font-size: 24px;
            color: #fff;
            margin-right: 30px;
            /* border: 2px solid red; */
          }
          
          .navbar ul {
            /* border: 2px solid red; */
            width: 45%;
            list-style: none;
            margin: 0;
           
            padding: 0;
            display: flex;
     
          }
        
          .navbar li {
            margin-right: 20px;
            /* border: 2px solid green; */
            margin: auto;
        
          }
          #user{
           
            display: none;
          }
          #login_user{
            margin-left: 30px;
          }
          .navbar a {
            color: #fff;
            font-size: 22px;
            text-decoration: none;
          
        
          }
          
          .navbar a:hover {
            color: #080707;
            background-color: yellow;
  
          }
     #hero_section img{
width: 100%;
height: 280px;
     }
          #fixed_logo{
            position: fixed;
            bottom: 05%;
            right: 60px;
            gap: 20px;
             display: grid;  justify-content: space-around;
           margin-left: 84%;
           
             
         }
         #containerApi {
     
          width: 99%;
         
          margin: 40px auto;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap:10px;
      }
         #Ad_de_btn{
          overflow: hidden;
          background-color: #fff;
          width: 90%;
          margin: auto;
          
          border-radius: 10px;
      }
      #add_card_btn{
        background-color: rgb(145, 219, 34);
        width: 80px ;
        margin: 10px;
        height: 30px;
       
        transition: ease-in-out 3s;
    }
    #delet_btn{
        background-color: rgba(237, 13, 17, 0.761);
        width: 80px ;
        height: 30px;
        border-radius: 5px;
        transition: ease-in-out 3s;
    }
    .contat_us{
      gap: 20px;
    }
    #contat_us_img img{
      height: 300px;
    }
          #form_div{
            width: 50%;
            margin: auto;
            margin-top: 10px;
         height: 300px;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
           
            background-image: url(https://img.freepik.com/free-vector/colorful-triangle-shapes-banner-technical-wire-mesh-style-vector_1017-45720.jpg?ga=GA1.1.109605606.1702533388&semt=ais_user);
            background-size: cover;
        }
          #form{
            margin-top: 10px;
            width: 100%;
            
        }
        input,select{
          width: 99%;
          margin-left: 00px;
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 5px;
          
        
        }
    .title button{
    width: 150px;
    background-color: #e05555;
    border-radius: none;
    border: 1px solid palevioletred;
    }
      
}
    