
body{
    background-color: rgb(250, 245, 246);
    background-image: url(https://img.freepik.com/free-vector/colorful-triangle-shapes-banner-technical-wire-mesh-style-vector_1017-45720.jpg?size=626&ext=jpg&ga=GA1.1.109605606.1702533388&semt=ais_user);
    background-size: cover;
  }
  #main_container{
    width: 99%;
    margin: auto;
    
  
  }
  #form_div{
      width: 30%;
      margin: 10% auto;
      height: auto;
      margin-bottom: 10%;
   padding-top: 20px;
  opacity: 100%;
   border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
     padding-bottom: 20px;
  
  }
  form{
     
      width: 85%;
  border-radius: 10px;
  
      margin: auto;
      
  
   padding-left: 5%;
  
      border: 1px solid rgb(225, 168, 177);
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   
  }
  #login{
  
      width: 300px;
      margin: auto ;
  text-align: center;
   margin-top: 10px;
  font-size: 20px;
  margin-left: 18%;
  border-radius: 5px;
    background-color: rgb(207, 207, 234);
    
  
  }
  
  #login a{
      text-decoration: none;
      font-size: 17px;
  text-align: center;
  
  
   
  
  }
  #link{
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 20px;
  }
  
  #link a{
    text-decoration: none;
    color: rgb(225, 21, 21);
    font-style: bold;
  
  
  }
  #btn:hover{
   cursor: pointer;
   
    background-color: wheat;
    color: black;
    height: 30px;
    border-radius: 10px;
  
  }
  h1{
    text-align: center;
    /* border: 2px solid red; */
  
  
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
  input,select{
      width: 90%;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;
      
   
  }
  select{
    width: 102%;
    border-radius: 5px;
    font-weight: bold;
  }
  ::placeholder,option{
     font-weight: bold;
     font-size: 15px;
     background-color: aliceblue;
  }
  
  
   
    @media screen and (min-width: 200px) and (max-width: 757px){
  
  
      body{
        background-color: rgb(79, 79, 67);
      }
      #main_container{
        width: 99%;
        margin: auto;
        
      
      }
      #form_div{
          width: 90%;
          margin: 30% auto;
          height: auto;
          margin-bottom: 10%;
       padding-top: 20px;
      opacity: 100%;
       border-radius: 10px;
     
      
      }
      form{
         
          width: 85%;
      border-radius: 10px;
      
          margin: auto;
          
      
  padding: 2%;
      
          border: 1px solid rgb(225, 168, 177);
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
       
      }
      #login{
     
    width: 98%;
      font-size: 20px;
      margin-left: 0%;
      border-radius: 5px;
        background-color: rgb(145, 145, 221);
        
      
      }
  
  
  
  
    }
    @media screen and (min-width: 758px) and (max-width: 1024px){
  
   #form_div{
    width: 90%;
   }
  
  
      #login{
      
       width: 94.5%;
      font-size: 20px;
      margin-left: 0%;
      border-radius: 5px;
        background-color: rgb(145, 145, 221);
        
      
      }
  
  
   
  
    }
  
  